{{>partials/header}}

<h1>Adicionar usuários</h1>

<form action="/cadastro" method="post">

    Nome:<br>
    <input type="text" name="nome" id="nome"><br>
    Email:<br>
    <input type="text" id="email" name="email" required><br>
    <input type="submit" value="cadastrar">



</form>

🤞👉<a href="/usuarios">Clique aqui</a> para voltar a página de usuários
 
{{>partials/footer}}